/*
#383735
#686a6c
#94a1a6
#aab7bf
#ebf0f2
*/


.caixa{
  padding: 10px;
  background-color: #aab7bf;
}

.container{
  margin: auto;
  padding: 10px;
  background: #ebf0f2;
  background-size: cover;
  max-width: 1200px;
  border-radius: 5px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

h1{text-align: center;
margin-top: 100px;
}

img {
max-width: 100%;
display: block;
}
/* CSS FLEXBOX 1 */
.flex {
display: flex;
flex-wrap: wrap;
max-width: 1100px ;
margin: 0 auto;
}

.flex > div {
flex: 1 1 200px;
margin: 10px;
background: #aab7bf;
}


