/* #383735 #686a6c #94a1a6 #aab7bf #ebf0f2 */

/*DUAS DIVES*/
.caixa{ padding: 10px; background-color: #aab7bf; }

.container{
  margin: auto;
  padding: 10px;
  background: #ebf0f2;
  background-size: cover;
  max-width: 1200px;
  border-radius: 5px;
}
/*XXXXXXXXXXXXXXXXXXXXXX*/


/*IMAGEM COM TITULO*/
.article0{
  background-image: url('../img/fundo/equalizer-gfac060fb2_1280.png');
  height: 150px;
  border-radius: 10px;
}
.article0 h1{
  font: 1em sans-serif;
  font-size: 50px;
  padding: 40px;
  color: rgb(254, 254, 255);
text-align: center;}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


/*  xxxxx  Comercial   xxxx    */

.comercial{
  width: 600px;
  height: 400px;
  border-top: outset 15px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.imgcomercial{
  margin: auto;
  text-align: center;
  width: 500px;
  height: 300px;
  border-radius: 10px;

}
  
/*
*/
.btnC{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background:  #38373523;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.btnC:hover{ background: #383735; }


/* CSS FLEXBOX 1 */
.imagens-bloco h1{ text-align: center; /* margin-top: 100px;*/}

img { max-width: 100%; display: block; }

.flex {
display: flex;
flex-wrap: wrap;
max-width: 1100px ;
margin: 0 auto;
}

.flex > div { flex: 1 1 200px; margin: 10px; background: #aab7bf; }

@media screen and (max-width:580px){
  .article0 h1{ font-size: 20px; }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*comercial*/
@media screen and (max-width: 700px){
 .comercial{
 width: 300px;
 height: 200px;  
 }
 
 .btnC{
  width: 18px;
  height: 18px;
 }

 .imgcomercial{
width: 290px;
height: 190px;
 }
}