*{margin: 0; padding: 0; }
body{background: tomato;}
.container-slide{
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 250px;
  background: black;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px black;
}

img{
    width: 500px;
    height: 250px;
}
